body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0%;
}

.img {
  display: block;
  min-width: 100%;
  height: auto;
}

svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: auto;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .nav {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (max-width: 1200px) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
  text-decoration: none;
  font-family: Raleway;
}
@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo--web {
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo--web {
    font-size: 26px;
    line-height: 1.19;
  }
}
@media screen and (max-width: 1199px) {
  .logo--web {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo--studio {
  color: #212121;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo--studio {
    font-size: 26px;
    line-height: 1.19;
  }
}
@media screen and (max-width: 1199px) {
  .logo--studio {
    font-size: 24px;
    line-height: 1.16;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 294px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

.nav__item {
  position: relative;
  padding: 32px 0;
}

.nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding: 32px 0;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  color: #2196f3;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2196f3;
}

.connection {
  display: block;
  padding: 0;
  margin: 0;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .connection {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .connection {
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.connection__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.connection__link:hover, .connection__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .tel {
    margin-left: 30px;
  }
}

.envelop,
.smartphone {
  fill: currentColor;
  margin-right: 10px;
  width: 10px;
  height: 16px;
}

.envelop {
  width: 16px;
  height: 12px;
}

.hero {
  padding: 200px 0;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("/images/img17_mob.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/img17_mob.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("/images/img17_mob2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/img17_mob2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("/images/img17_tab.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/img17_tab.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("/images/img17_tab2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/img17_tab2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("/images/img17.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/img17.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("/images/img17_2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/img17_2x.jpg");
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .feature__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    -ms-flex-preferred-size: calc(100% / 4 -30);
        flex-basis: calc(100% / 4 -30);
    margin-right: 30px;
  }
}

.thumb {
  background-color: #f5f4fa;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

.feature__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}

.section__team {
  background-color: #f5f4fa;
}

.team {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .team {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.team__list {
  display: block;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  overflow: hidden;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    width: calc((100% - 30px) / 2);
  }
  .team__list:nth-last-child(-n+2) {
    margin-bottom: 30px;
  }
  .team__list:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    width: calc((100% - 90px) / 4);
  }
}

.team__thumb {
  -o-object-fit: cover;
     object-fit: cover;
}

.team__foto {
  width: 100%;
  font-size: 16px;
  padding-bottom: 30px;
}

.team__title {
  color: #212121;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
  fill: #afb1b8;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__link:hover,
.social__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

@media (max-width: 1199px) {
  .work {
    display: none;
  }
}

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.card__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: -1;
}

.card__text {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  margin: 0;
}

.client__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
@media screen and (min-width: 1200px) {
  .client__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 0;
    margin-top: 0;
  }
  .client__list:not(:last-child) {
    margin-right: 30px;
  }
}

.client__item {
  margin-top: 30px;
  margin-left: 30px;
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    margin-top: 0;
    margin-left: 0;
  }
  .client__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  max-width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.client__link:hover, .client__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}
@media screen and (min-width: 768px) {
  .client__link {
    max-width: 100%;
  }
}

.client__icon {
  fill: currentColor;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__item {
  margin-right: 8px;
  margin-bottom: 50px;
}

.btn__item:last-child {
  margin-right: 0px;
}

.btn__link:focus,
.btn__link:hover {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn__link {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  text-decoration: none;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.project__item:hover .overlay,
.project__item:focus .overlay {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.project__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.project__item:nth-child(3n) {
  margin-right: 0;
}

.project__item:hover,
.project__item:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* transition: 250ms $time-function; */
}

.portfolio__title {
  margin: 0;
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__project {
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  font-weight: 400l;
  font-size: 16px;
  line-height: 1.87;
}

.project__thumb {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.card__content {
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.btn-menu {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  -webkit-transition-property: fill;
  transition-property: fill;
}
@media (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.menu-container .btn-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-nav__item .link {
  display: block;
  margin-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.mobile-nav__item .link.current {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.link--mobile.tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.link--mobile.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}
@media screen and (max-width: 400px) {
  .mobile-social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.mobile-social__item {
  margin-right: 20px;
  position: relative;
}
@media screen and (max-width: 400px) {
  .mobile-social__item {
    margin-bottom: 10px;
  }
}

.mobile-social__item--line:after {
  content: "";
  position: absolute;
  top: 10px;
  right: -21px;
  width: 22px;
  height: 0px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-social__link:hover,
.mobile-social__link:focus {
  text-decoration: underline;
}

.btn-menu:hover,
.btn-menu:focus {
  fill: #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}/*# sourceMappingURL=main.css.map */