.client__list {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-top: 50px;
  //   justify-content: space-around;
  // }

  // @media screen and (max-width: 767px) {
  //   .client__item {
  //     width: calc((100% - 30px) / 2);
  //     margin-bottom: 30px;
  //   }
  // }

  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  //   .client__item {
  //     width: calc((100% - 60px) / 3);
  //     margin-bottom: 30px;
  //   }
  // }
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  @media screen and(min-width: 1200px) {
    flex-wrap: nowrap;
    margin-left: 0;
    margin-top: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.client__item {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // border: 1px solid #afb1b8;
  // border-radius: 4px;
  // min-width: 100px;
  // height: 90px;
  // width: 170px;
  // fill: $icon-color;
  // transition: fill 250ms $time-function;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 2 - 30px);

  @media screen and(min-width: 768px) and(max-width: 1199px) {
    flex-basis: calc(100% / 3 - 30px);
  }

  @media screen and(min-width: 1200px) {
    margin-top: 0;
    margin-left: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $icon-color;
  max-width: 210px;
  height: 90px;
  border: 1px solid $icon-color;
  border-radius: 4px;
  transition: color $timing-function, border-color $timing-function;
  outline: none;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }

  @media screen and(min-width: 768px) {
    max-width: 100%;
  }
}

// .client__item:last-child {
//   margin-right: -30px;
// }

.client__icon {
  fill: currentColor;
}

.client__item:hover,
.client__item:focus {
  // border: 1px solid $accent-color;
  // transition: border 250ms $time-function;
}

.client__icon:hover,
.client__icon:focus {
  // fill: $accent-color;
}
