.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature__list {
  margin: 0;
  padding: 0;

  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
  }

  @media screen and(min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0;
  }
}

.feature__item {
  width: 100%;
  @media screen and(max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width: 768px) {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and(min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    margin-left: 0;
    margin-top: 0;
  }
  @media screen and(min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.feature__thumb {
  display: flex;
  justify-content: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: $secondary-bg-color;
  fill: $title-text-color;
}

.feature__icon {
  width: 70px;
  height: 70px;
  border-radius: 4px;
}

.feature__title {
  color: $title-text-color;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.8;
  @media screen and(max-width:767px) {
    text-align: center;
  }
}

.feature__description {
  font-size: 14px;
  line-height: 1.7;
}
