.header {
  border-bottom: 1px solid $border-color;
  // position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav__list {
  display: none;
  margin-left: 93px;

  @media screen and (min-width: 767px) {
    display: flex;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
  // position: relative;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms $time-function;
}

.nav__link:hover,
.nav__link:focus {
  color: $accent-color;
}

.current {
  color: $accent-color;
  position: relative;

  @media screen and (min-width: 768px) {
    &::after {
      content: ' ';

      position: absolute;
      top: 80px;
      left: 0;

      display: block;
      width: 100%;
      height: 4px;

      background: $accent-color;

      border-radius: 2px;
    }
  }
}

.connection {
  display: none;

  color: $primary-text-color;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.connection__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.connection__link {
  color: $primary-text-color;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    padding: 0;
  }
  @media screen and (min-width: 1200px) {
    &.mail {
      display: block;
      margin-bottom: 10px;
      padding-top: 21px;
      text-decoration: none;
    }

    &.tel {
      display: block;
      padding-bottom: 21px;
      text-decoration: none;
    }
  }
}

.envelop,
.smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  // display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  // margin-right: 93px;

  color: $title-text-color;
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;

  &--web {
    color: $accent-color;
  }
}

// @media (max-width: 767px) {
//   .logo {
//     padding-top: 26px;
//     padding-bottom: 26px;
//     margin-right: 88px;
//   }
// }

// @media (max-width: 1199px) {
//   .logo {
//     display: block;
//     padding-top: 24px;
//     padding-bottom: 25px;
//     margin-right: 93px;
//     font-size: 26px;
//     line-height: 1.19;
//   }
// }
