.client__list {
  display: flex;
}

.client__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  margin-right: 30px;
  fill: $icon-color;
  transition: fill 250ms $time-function;
}

.client__item:last-child {
  margin-right: -30px;
}

.client__icon {
  fill: currentColor;
}

.client__item:hover,
.client__item:focus {
  border: 1px solid $accent-color;
  transition: border 250ms $time-function;
}

.client__icon:hover,
.client__icon:focus {
  fill: $accent-color;
}
