$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$blu-text: #2196f3;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$third-bg-color: #2f303a;
$secondary-text-color: rgba(255, 255, 255, 0.6);
$card-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$icon-color: #afb1b8;
$bg-icon: rgba(255, 255, 255, 0.1);
$bg-hero: rgba(47, 48, 58, 0.4);
$border-color: #ececec;
$bg-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$card-bd-hiden: rgba(33, 150, 243, 0.9);
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$bg-color-work: rgba(47, 48, 58, 0.8);
$bg-modal: rgba(0, 0, 0, 0.2);
$white-text-op60: 255, 255, 255, 0, 6;
$back-dark: rgba(47, 48, 58, 1);
